[user]
	email = pyry.heiskanen@iki.fi
	name = Pyry Heiskanen
[pull]
  rebase = true
[alias]
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  co = checkout
  r = reset
  s = status
  pl = pull
  ps = push
  bra = branch -a
  b = branch
  df = diff
  dfmn = diff master --name-only
  sort = branch -a --sort=committerdate
  amend = commit -C HEAD --amend
[core]
  editor = nvim
  autocrlf = input
	excludesfile = ~/.gitignore
# pager = delta

[interactive]
  diffFilter = delta --color-only

[include]
  path = ~/.config/delta/themes.gitconfig

[delta]
  features = chameleon
  navigate = true  # use n and N to move between diff sections

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
